<% if signed_in? %>
  <% provide(:title, @current_org.name) %>
<div class="row">
  <div class="col-md-8">
      <% if @ideas.any? %> 
      <h2>Activity Feed</h2>   
        <ol class="media-list ideas">
          <%= render partial: "shared/activity_feed", collection: @ideas %>
        </ol>
      <% end %>
  </div>
  <div class="col-md-4 col-sm-6">
      <h2>Challenges</h2>
      <%= render 'shared/area_menu' %>
  </div>
</div>
<% else %>
  <%= render 'shared/landing' %>
<% end %>