<div class="well">        
<h3>Filters</h3>
<div class="form-group">
  <label>Sort by</label>
  <select class="form-control">
    <option>Most popular</option>
    <option>Most recent</option>
    <option>Most commented</option>
  </select>
</div>
<div class="form-group">
  <label>Phases</label>
  <div class="checkbox">
    <label>
    <input type="checkbox" value="">New</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="">Evaluation</label></div>
  <div class="checkbox">
    <label><input type="checkbox" value="">Implementation</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="">Archived</label></div>
  </div>    
</div>