<% provide(:title, "Edit idea") %>
<h1>Update your idea</h1>

<div class="col-md-8 col-md-offset-2">
  <%= form_for(@idea) do |f| %>
    <%= render 'fields', f: f %>
    <div class="col-md-6">
    	<%= f.submit "Save changes", class: "btn btn-lg btn-primary form-control" %>
		</div>
  <% end %>
</div>