<% provide(:title, 'All Ideas') %>
<h3>Ideas</h3>
<div class="col-md-4 col-sm-6">
  <%= render 'idea_filter' %>
</div>
<div class="col-md-8">
  <%= render "shared/ideas", collection: @ideas %>
  <%= link_to 'Load More Ideas', ideas_path(:page => @ideas.next_page, :search => @search), :class => 'load-more-ideas', :remote => true if @ideas.next_page %>
</div>