<% provide(:title, 'All Ideas') %>
<h3>Ideas</h3>
<div class="col-md-4 col-sm-6">
  <%= render 'idea_filter' %>
</div>
<div class="col-md-8">
  <% if @ideas.any? %>
  <div class="media-list ideas">
    <%= render @ideas %>
  </div>
  <%= link_to 'Load More Ideas', ideas_path(params.merge(:page => @ideas.next_page)), :class => 'load-more-ideas', :remote => true if @ideas.next_page %>
  <% else %>
    <%= render 'shared/no_ideas' %>
  <% end %>
  
</div>