<% provide(:title, 'Submit new Idea') %>
<div class="row"><h3>New Idea</h3></div>
<div class="row">
  <div class="col-md-8 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for(@idea) do |f| %>
          <%= render 'fields', f: f %>
            <div class="form-group">
              <%= f.submit "Submit", class: "btn btn-lg btn-success" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6">    
    <div class="well">
      <p class="lead">Submitting a new idea</p>
      <p>When submitting a new idea, keep in mind that ...</p>  
    </div>
  </div>
</div>