<% provide(:title, 'Submit new Idea') %>
<h1>Submit new Idea</h1>

<div class="col-md-8 col-md-offset-2">
  <%= form_for(@idea) do |f| %>
    <%= render 'fields', f: f %>
    <div class="col-md-6">
    <%= f.submit "Submit", class: "btn btn-lg btn-primary form-control" %>
    </div>
  <% end %>
</div>