var $ideas = $('ol.ideas');
if ($ideas.length){
  var $idea = $("li#<%= @idea.id %>"); 
  $idea.find('.content').after("<span class='full_content'><%= j raw(@idea.content) %></span>");
  $idea.find('.full_content').append('<a href="#" class="hide_full_content">Hide</a>');
  $idea.find('.content').append('<a href="#" class="show_full_content">Show more</a>');
  $idea.find('.load_full_content').remove();
  $idea.find('.content').hide();
}
else{
	$('.comments').append('<%= j render partial: "comment", collection: @comments %>');
	$('a.load-more-comments').attr('href', '<%= idea_path(:id => @idea.id, :page => @comments.next_page) %>');

	<% unless @comments.next_page %>
		$('a.load-more-comments').remove();
	<% end %>
}

