<% provide(:title, @current_org.name) %>
<div class="row">
  <div class="col-md-8">    
    <h3>Activity Feed</h3>   
    <ol class="media-list ideas">
      <%= render partial: "shared/activity_feed", collection: @ideas %>
    </ol>
  </div>
  <div class="col-md-4 col-sm-6">
      <h3>Challenges</h3>
      <%= render 'shared/area_menu' %>
  </div>
</div>