<div class="center jumbotron">
    <h1>Welcome to the Idea Test</h1>

    <h2>
      This is the home page for a test application for and idea management platform.
    </h2>

    <%= link_to "Sign up now!", signup_path,
                      class: "btn btn-lg btn-primary" %>
  </div>