<% provide(:title, 'Focus Areas') %>
<h1>All Focus Areas</h1>

<div class="row">
  <% @areas.each_with_index do |area, index| %>
  	<% if index == 3 %>
  		</div><div class="row">
  		<% index==0 end %>

     <%= render partial: area %>
  <% end %>
</div>