@import "bootstrap";

$grayMediumLight: #eaeaea;
$blue: #001eff;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  line-height: 1.5em;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  	margin-bottom: 10px;
	}
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  //margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  line-height: 1.5em;
}

hr {
  clear: both;
}


/* header */

.navbar-brand{
  padding: 0;
  img{
    margin-right:10px;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */



#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .form-group;
  @extend .has-error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

/* activity feed */

p.activity {
  margin-bottom: 5px;
}


/* ideas */

.jumbotron {
  hr {border-color: $gray-light;}
  small {color: $gray;}
}

.content, .comment_content, .full_content, .hide_full_content {
  display: block;
}

.img-thumbnail {
  margin-bottom: 20px;
}

.ideas .comments{
  font-size: 0.9em;
}

.idea-info{
  clear:both;
}

.comment_list li{
  margin: 0;
}

.timestamp {
  color: $gray-light;
  clear: both;
}
.thumb-list {
  margin-right: 15px;
  margin-bottom: 10px;
}
a.voted{
  text-decoration: none;
  font-weight: bold;
}
a.unvoted {
  text-decoration: none;
}
.unvoted{ 
  color: $gray-dark;
  a:hover{color: #2a6496;}
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

.load-more-ideas {
  color: #e0e0e0;
}

ol.comments .load-more-comments {
  color: #FFFFFF;
}

/* Comments */

#comment-submit {
  height: 68px;
  width: 90px;
}

@media (min-width:768px) { 
  #page-content {
      left: 0!important
  }
  .navbar.navbar-fixed-top.slide-active {
      //position: fixed
  }
  .navbar-header {
      left: 0!important
  }
}

.idea-actions {
  margin-bottom: 10px;
  a{ margin-left: 10px;}
}

.comment-panel{
  padding: 15px;
}

div.pagination{
  margin: 0;
}

.header-close-bot{
  margin-bottom: 0;
}

/*Styles for upload widget*/

#upload {
  background: $grayMediumLight;
  margin-bottom: 10px;
}

#upload input {
  visibility: hidden;
}

#upload .upload-list {
  list-style: none;
  padding: 15px;
  li > * {
    vertical-align: middle;
  }
  div {
    display: inline-block;
  }
  li {
    background: $gray-lighter;
    padding: 10px;
    &.working {
      background: $gray-light;
    }
    p {
      padding: 10px;
      margin: 0;
      width: 490px;
      margin-left: 20px;
      word-wrap: break-word;
      i {
        display: block;
        font-weight: bold;
      }
    }
    span {
      display: inline-block;
      margin-left: 40px;
      &.glyphicon-ok {
        color: #009900;
      }
      &.glyphicon-remove {
        color: #CC0000;
      }
    }
  }
}

#dropzone {
  text-align: center;
}
#dropzone .title {
  font-size: 1.4em;
}

/* Additions to theme */

.panel .panel-heading {
  border-bottom: none;
  padding-bottom: 0px;
}


