<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	<div class="container">
	    <ul class="nav navbar-nav pull-right">
	      <li><%= link_to "About",   about_path %></li>
	      <li><%= link_to "Contact", contact_path %></li>
	      <li><a href="http://news.railstutorial.org/">News</a></li>
	    </ul>
    </div>
</nav>